#expedientes{
	width: 100px;	
}

#clientes{	
	width: 200px;	
}

#creacion{
	width: 150px;	
}

#actualizacion{
	width: 200px;	
}

#status{
	width: 100px;	
}
#archivo{
	width: 400px;	
}
#acciones{
	width: 90px;	
}
.iconos{
	margin-left: 10px;
}
table{
	width: 100%;
}
/* Zebra striping */
tr:nth-child(2n+1) { 
	background: #eef1ed; 
}

#boton_subir { 	
	vertical-align: 40px;
	margin-left: 20px;	
}

input.subir { 	
	text-align: center;
    width: 120px; 
    height: 30px;
    color: #eee; 
    text-transform: uppercase; 
    margin-top: 0px;
    background-color: #aabf1c;    
    border: none;    
    /* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
	-webkit-transition: -webkit-box-shadow 0.3s linear;
	/* -- CSS3 Shadow - create a shadow around each input element -- */ 	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AFD957), to(#83A53F)); 
	background:  -moz-linear-gradient(25% 75% 90deg,#83A53F, #AFD957);	
	/* -- CSS3 - Rounded Corners -- */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
	border-radius: 4px;
}

input.subir:hover { 		
    -webkit-box-shadow: 0px 0px 10px #555;
    -moz-box-shadow: 0px 0px 10px #aaa; 
    box-shadow: 0px 0px 10px #555;		
    cursor:  pointer; 
}