.box_reportes { 
    position:relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;     
    width: 440px;
    background: #d3d1d2;
    border: 10px solid #fff; 
}
.centrado{
	margin-left: 50px;
}